
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {

    background-color: #bbebff;
    padding: 40px;
}

.nav-links {

    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 23px;
}

.nav-links a:hover {
    text-decoration: underline;
}

h2 {

    background-color: #e0f7fa;   /* Cor de fundo */
    border: 3px solid #1b2c2a;   /* Cor e espessura da borda */
    border-radius: 15px;         /* Arredondamento das bordas */
    padding: 15px;               /* Espaçamento interno */
    margin: 20px auto;           /* Espaçamento externo e centralização horizontal */
    max-width: 700px;            /* Largura máxima opcional */
    text-align: center; 
    height: 60;
  
}

h3{

    text-align: center; 
}

p {
    
        font-family: Arial, sans-serif;
     
    text-align: justify; 
    hyphens: auto;
    font-size: 16px;
}

th, td {
  
    padding: 10px; 
   
}

.header-image {  
    height: 60;
    padding: 20;
    background-color: #d7f1fc;
    text-align: center;    
    margin: 0 auto; 

}

img {
    border-radius: 10%;   
    object-fit: cover;


}

